<div class="col-md-4">
  <div class="card">
    <img class="card-img-top" src="{{image_url}}" alt="" style="height: 200px; width: 50px;">

    <div class="card-body">
      <h5 class="card-title">{{name}} - {{tagline}}</h5>
      <p class="card-text">{{description}}</p>
    </div>
  </div>
</div>

{{!-- <div class="col-md-4">
  <div class="card">
    <img
      class="card-img-top"
      src={{photo}}
      alt={{name}}
    />
    <div class="card-body">
      <h5 class="card-title">{{name}} {{lastName}}</h5>
      <p class="card-text">{{team}}</p>
    </div>
  </div>
</div> --}}